
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /wdpf_51_1269797/wdpf51_wp/wp_project1/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /wdpf_51_1269797/wdpf51_wp/wp_project1/index.php [L]
</IfModule>

# END WordPress