RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /wdpf_51_1269797/wdpf51_wp/wp_project4/
RewriteRule ^index\.php$ - [L]

# add a trailing slash to /wp-admin
RewriteRule ^([_0-9a-zA-Z-]+/)?wp-admin$ $1wp-admin/ [R=301,L]

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]
RewriteRule ^([_0-9a-zA-Z-]+/)?(wp-(content|admin|includes).*) D:/xampp/htdocs/WDPF_51_1269797/wdpf51_wp/wp_project4/$2 [L]
RewriteRule ^([_0-9a-zA-Z-]+/)?(.*\.php)$ D:/xampp/htdocs/WDPF_51_1269797/wdpf51_wp/wp_project4/$2 [L]
RewriteRule . index.php [L]
