# This file was updated by Duplicator on 2022-09-28 09:15:39.
# See the original_files_ folder for the original source_site_htaccess file.
# BEGIN WordPress
# The directives (lines) between "BEGIN WordPress" and "END WordPress" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /wdpf_51_1269797/wdpf51_wp/aminul/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /wdpf_51_1269797/wdpf51_wp/aminul/index.php [L]
</IfModule>

# END WordPress